.nav-area{
    background: rgba(0, 0, 0, 0.7);
    height: 60px;
    position: absolute;
    width:100%;
}
.logo{
    margin: 0 50px;
    height: 60px;
    float:left;
    color: #fff;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
}
.menu-area{
    float: right;
    list-style: none;
    margin: 20px;
}
.menu-area li{
    display: inline-block;
    margin: 5px;
}
.menu-area li a{
    text-decoration: none;
    color:  #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
}
.menu-area li a:hover{
    color:yellow;
}